<link rel="stylesheet" href="/static/mainstyle.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
<head>
</head>
<body >
<form action="/loginsend" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1 style="font-family: Chicle, cursive;letter-spacing: 10;">Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Email" name="email">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
                <h1 style="font-size: 20">Dont have an account?</h1>
                <h1 style="font-size: 15"><a href="/mail/">Register!</a></h1>
								<b><div id="txt" style="font-size: 15"></div></b>
			</div>
		</div>
	</div>
</form>
</body>
